<template>
  <header class='header'>
    <div class="home-nav">
      <nuxt-link to='/#'>Home</nuxt-link>
    </div>
    <ul>
      <li>
        <nuxt-link to='/#'>About</nuxt-link>
      </li>
      <li>
        <nuxt-link to='/#'>Login / Logout</nuxt-link>
      </li>
    </ul>
  </header>
</template>

<script>
export default {

}
</script>

<style scoped>
  .header {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    justify-content: space-between;
    align-items: center;
    display: flex;
    border-bottom: 1px dotted #ccc
  }

  .home-nav {
    margin-left: 20px;
    display: flex;
  }

  .header ul {
    list-style: none;
    justify-content: space-around;
    display: flex;
    flex-wrap: wrap;
  }

  .header ul li {
    margin-right: 20px;
  }

  .header a {
    color: #43464b;
    text-decoration: none;
  }

  .header a:hover {
    color: #ffd700;
    text-decoration: none;
  }

  .header a:active {
    color: #eeb76e
  }
</style>
