<template>
  <div class="about-page">
    <h1>About Me</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque porro nobis quam! Hic rerum modi distinctio dolore, ullam voluptate natus fuga voluptas. Debitis vel illo veritatis repellendus maxime quisquam illum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque porro nobis quam! Hic rerum modi distinctio dolore, ullam voluptate natus fuga voluptas. Debitis vel illo veritatis repellendus maxime quisquam illum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque porro nobis quam! Hic rerum modi distinctio dolore, ullam voluptate natus fuga voluptas. Debitis vel illo veritatis repellendus maxime quisquam illum!</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque porro nobis quam! Hic rerum modi distinctio dolore, ullam voluptate natus fuga voluptas. Debitis vel illo veritatis repellendus maxime quisquam illum!</p>
  </div>
</template>

<style scoped>
.about-page {
  text-align: center;
  padding: 30px;
}
</style>
